* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: url(/src/images/high-score-hed.jpg) center center/cover;
}

body {
  animation: myAnim 4s ease 1s 1 normal forwards;

  @keyframes myAnim {
    0% {
      transform: scale3d(1, 1, 1);
    }

    30% {
      transform: scale3d(1.25, 0.75, 1);
    }

    40% {
      transform: scale3d(0.75, 1.25, 1);
    }

    50% {
      transform: scale3d(1.15, 0.85, 1);
    }

    65% {
      transform: scale3d(0.95, 1.05, 1);
    }

    75% {
      transform: scale3d(1.05, 0.95, 1);
    }

    100% {
      transform: scale3d(1, 1, 1);
    }
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  align-items: center;
  margin-top: 6px;
}

h1 {
  margin-left: 3%;
  margin-top: 20px;
  font-size: 59px;
  font-family: sans-serif;
  color: #5aff00;
  text-shadow: 5px 5px 10px #d613c3;
}

h1:hover {
  width: 295px;
  transition: width 2s linear 0s;
}

#recent-score {
  margin-left: 50px;
  font-size: 31px;
  font-family: sans-serif;
}

.refresh-btn {
  display: flex;
  gap: 52px;
  margin-top: 61px;
  align-items: flex-start;
}

h2 {
  color: #5aff00;
  text-shadow: 5px 5px 10px #d613c3;
  font-family: sans-serif;
}

.table {
  width: 100%;
  margin-top: 22px;
  overflow-y: scroll;
  color: #ff0078;
}

#form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: center;
}

#name {
  padding: 5px;
  margin: 18px;
  border-radius: 7px;
  border: 2px solid #d613c3;
}

#score {
  padding: 5px;
  margin: auto 18px;
  border-radius: 7px;
  border: 2px solid #d613c3;
}

.input {
  font-size: 31px;
  border-radius: 3px;
}

#submit {
  margin-left: 62%;
  margin-top: 14px;
  margin-right: 18px;
  padding: 5px;
  box-shadow: 5px 5px 10px 1px #d613c3;
  border-radius: 4px;
  border: 2px solid #d613c3;
  font-weight: bold;
}

#submit:hover {
  box-shadow: 5px 5px 10px 1px #d613c3;
  background-color: #d613c3;
}

#refresh {
  border: 2px solid #d613c3;
  padding: 3px;
  margin-top: 23px;
  border-radius: 4px;
  font-weight: bold;
  box-shadow: 5px 5px 10px 1px #d613c3;
}

#refresh:hover {
  box-shadow: 5px 5px 10px 1px #d613c3;
  background-color: #d613c3;
}

.cell {
  border: 2px solid #d613c3;
}

table,
th,
td {
  border: 1px solid #d613c3;
  border-collapse: collapse;
  padding-left: 12px;
  font-family: sans-serif;
  font-weight: bold;
}
